[Unit]
Description=This script initializes the NetworkTables and change the autorun script

[Service]
Type=simple
User=root
ExecStart=/opt/InitScripts/start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
